**/.DS_Store
/DragonLight/DragonLight.xcodeproj/xcuserdata/
/DragonLight/DragonLight.xcodeproj/project.xcworkspace/xcuserdata/
/DragonLight/*.xcodeproj/project.xcworkspace/xcshareddata/
/DragonLight/DragonLight/Preview Content/